@model IEnumerable<Taxi_Database.Models.Message>
@{
    string userName = User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Чат</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>


        .nowrap {
            white-space: nowrap
        }

        .transition {
            transition: all 300ms ease-out;
        }

        .hover {
            color: #0b61fe;
        }
    </style>
</head>
   <body>
       <nav id="nav" class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top ">
           <button class="navbar-toggler ml-auto" id="nav-button" type="button" data-toggle="collapse"
                   data-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
               <ul class="navbar-nav ml-sm-2">
                   <li class="nav-item ">
                       <a class="nav-link flex-nowrap nowrap text-right" asp-action="Index" asp-controller="Home">О Проекте<span class="sr-only"></span></a>
                   </li>
               </ul>
           </div>
           <div class="col-auto  pl-md-0 pr-sm-2  align-content-center pb-0 transition">
               <form asp-action="Logout" asp-controller="Account" method="post">
                   <button type="submit"
                           class="flex-fill btn btn-primary  pr-sm-4 pl-sm-4 pb-auto mb-0 font-weight-bold text-center find">
                       Выход
                   </button>
               </form>
           </div>
       </nav>
        <div class="container">
            <div class="container-sm p-4 " style="max-width: 40em; margin-top: 50px">
                <h2 class="text-center text-primary">
                    <i class="">&nbsp; Чат</i>
                </h2>
                <div class="row">
                    <div class="col-md-12" id="chat">
                        @if (Model != null)
                        {
                            foreach (var message in Model.OrderBy(m => m.When))
                            {
                                string containerClass, timePosition, textAlign, contcolor, offset = null;
                                if (userName == message.UserName)
                                {
                                    containerClass = "container darker";
                                    timePosition = "time-right text-light";
                                    textAlign = "text-right text-white";
                                    contcolor = "bg-primary";
                                    offset = "col-md-6 offset-md-6";
                                }
                                else
                                {
                                    containerClass = "container";
                                    timePosition = "time-left";
                                    textAlign = "text-left";
                                    contcolor = "bg-light";
                                    offset = "";
                                }
                                <div class="row">
                                    <div class="@offset">
                                        <div class="@containerClass @contcolor">
                                            <p class="sender @textAlign">@message.UserName</p>
                                            <p class="@textAlign">@message.Text</p>
                                            <span class="@timePosition">@message.When.ToString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-12">
                        <form asp-action="Create" data-ajax="true" data-ajax-complete=""
                              data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                              data-ajax-method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <br>
                            <div class="form-group">
                                <input name="Text" class="form-control" id="messageText" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Отправить" id="submitButton" class="btn btn-primary" />
                            </div>
                            <input type="hidden" value="@userName" name="username" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
            <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>

            <script>const userName='@ViewBag.CurrentUserName'</script>
            <script src="~/js/site.js"></script>
            <script src="~/js/hubConnection.js"></script>
    </body>
</html>



